
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
  background-color: hsl(96, 20%, 95%);
}
.day-theme {
  background-color: #ffffff;
  color: #000000;
}
.night-theme {
  background-color: #222222;
  color: #ffffff;
}
.day-theme p {
  color: #000000; /* Couleur du texte pour le thème jour */
}

.night-theme p {
  color: #ffffff; /* Couleur du texte pour le thème nuit */
}

.navbar {
  background-color: #333;
  padding: 20px 0;
  top: 0;
  z-index: 1000; 
  

}

.navbar-brand img {
  height: 50px;
  width: auto;
}

.navbar-nav .nav-link {
  color: #fff;
  font-weight: bold;
  font-size: 18px;
}



.video {
  position: relative;
  width: 100%;
  height: 100vh; 
  overflow: hidden;
}

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  padding: 50px 0;
}

.image-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1200px;
}

.image-row figure {
  text-align: center;
  width: 19%;
} 

.image-row img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.image-row figcaption {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
}
.navbar-nav .login{
  border-radius: 20%;
  background-color: hwb(118 35% 38%);
}
.navbar-nav .login:hover{
  background-color: whitesmoke;
  color: green;
}
h1{
  text-align: center;
  margin-top: 5%;
  color: #366a46;
  padding: 55px;
}
.para1 {
  text-align: center;
  font-size: 25px;
  color: #1b251e;
}

.liste{
  display: flex; 
 justify-content: space-around; 
 margin-top: 15px;
 background-color: rgb(158, 206, 164);
}

.photo {
  text-align: center; 

}

.photo img {
  width: 110px; 
  height: auto; 
}
.Text {
  margin: 15px;
  color: hsl(139, 26%, 24%);
}
.map {
text-align: center;
}
.page2 {
  margin-top: 25px;
  background-color: rgb(242, 246, 243);
  width: 100%;
  height: 50vh;
  display: grid;
  place-content: center;
  backdrop-filter: blur;
  font-size: 20px;
  position: relative;
}
.page3 {
  margin-top: 25px;
  background-color: rgb(191, 215, 197);
  width: 100%;
  height: 50vh;
  display: grid;
  place-content: center;
  backdrop-filter: blur;
  font-size: 20px;
  position: relative;
}

/* .container2 {
  background-color: hsl(0, 0%, 100% /.2);
  text-align: justify;
  color: black;
  max-width: 55vw;
  border: 1px solid hsl(0, 0%, 100%/.2);
  padding: 1rem;
  font-size: clamp(23px, 5vmax, 20px);
  line-height: 1,2;
  text-align: justify;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 20px;
  height: auto;

}
.container3 {
  background-color: hsl(0, 0%, 100% /.2);
  text-align: justify;
  color: black;
  max-width: 55vw;
  border: 1px solid hsl(0, 0%, 100%/.2);
  padding: 1rem;
  font-size: clamp(23px, 5vmax, 20px);
  line-height: 1,2;
  text-align: justify;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  right: 20px;
  height: auto;

} */

.bttn {

  position: fixed;
  z-index:100;
  bottom:0;
  right: 0;
  height: 40px;
  width:40px;
  margin: 10px;
  background-color: black;
}

.footer {
  position: relative;
  width: 100%;
  background: hsl(131, 25%, 43%);
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon,
.menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}
h5{
  font-size: 25px;
  color: #fff;
 
}
#stade {
  text-align: center;
  color: hsl(0, 0%, 7%);
  font-size: 25px;
 margin: 50px;
}
.picstade {
  justify-content: space-between;
  margin: 10px;
  width: 30%;
   border-radius: 98%;
}

.card-img-top {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
#std{
  padding: 10px 100px;
}
.ligne {
  position: relative;
  display: inline-block;
}

.ligne::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px; 
  width: 100%;
  height: 9%; 
  background-color: #34bd5d;  
}

.listep {
  font-size: 25px;
  text-align: center;
  color: whitesmoke;
  position: relative;
  margin-top:35px ;
}.p {
  margin: 60px;
}
/* .l1{
  background-color: #52A063;
  height: 70px;
  width: 1300px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
} */
.agd_top_top{
  background-color: #2d5e37;
  height: 70px;
  padding: 25px;
  text-align: center;
}

.agd_contenu .agd_mois{
  margin-bottom:5px;
}
.agd_mois{
  background-color: #79ce72;
  margin: 2px;
  width: 100%;
  height: 80px;
  padding: 20px;
  
}
.collr{
  padding: 2px;
}

.agd_contenu {
  /* margin-left: 10px; */
  background-color: #afcdb1;
  height: 300px;
  padding: 10px;
}
.agd_contenu1 {
background-color: #b4e4c2;
padding: 10px ;
height: 300px;
} 
/* ************** les stades */

.gx-6 {
  --bs-gutter-x: 4.5rem;
}
.g-6,
.gy-6 {
  --bs-gutter-y: 4.5rem;
}
@media (min-width: 576px) {
  .g-sm-6,
  .gx-sm-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-sm-6,
  .gy-sm-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 768px) {
  .g-md-6,
  .gx-md-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-md-6,
  .gy-md-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 992px) {
  .g-lg-6,
  .gx-lg-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-lg-6,
  .gy-lg-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1200px) {
  .g-xl-6,
  .gx-xl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xl-6,
  .gy-xl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
@media (min-width: 1400px) {
  .g-xxl-6,
  .gx-xxl-6 {
    --bs-gutter-x: 4.5rem;
  }
  .g-xxl-6,
  .gy-xxl-6 {
    --bs-gutter-y: 4.5rem;
  }
}
.mb-6 {
  margin-bottom: 4.5rem !important;
}
.py-6 {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
.top-5px {
  top: 5px !important;
}
.top-10px {
  top: 10px !important;
}
.bottom-5px {
  bottom: 5px !important;
}
.bottom-10px {
  bottom: 10px !important;
}
.start-5px {
  left: 5px !important;
}
.start-10px {
  left: 10px !important;
}
.end-5px {
  right: 5px !important;
}
.end-10px {
  right: 10px !important;
}
.hcf-of-cover {
  object-fit: cover !important;
}
.hcf-op-center {
  object-position: center !important;
}
.hcf-ih-250 {
  height: 250px !important;
}
.hcf-ih-400 {
  height: 400px !important;
}
@media (min-width: 576px) {
  .mb-sm-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-sm-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-sm-250 {
    height: 250px !important;
  }
  .hcf-ih-sm-400 {
    height: 400px !important;
  }
}
@media (min-width: 768px) {
  .mb-md-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-md-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-md-250 {
    height: 250px !important;
  }
  .hcf-ih-md-400 {
    height: 400px !important;
  }
}
@media (min-width: 992px) {
  .mb-lg-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-lg-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-lg-250 {
    height: 250px !important;
  }
  .hcf-ih-lg-400 {
    height: 400px !important;
  }
}
@media (min-width: 1200px) {
  .mb-xl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-xl-250 {
    height: 250px !important;
  }
  .hcf-ih-xl-400 {
    height: 400px !important;
  }
}
@media (min-width: 1400px) {
  .mb-xxl-6 {
    margin-bottom: 4.5rem !important;
  }
  .py-xxl-6 {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important;
  }
  .hcf-ih-xxl-250 {
    height: 250px !important;
  }
  .hcf-ih-xxl-400 {
    height: 400px !important;
  }
}
.hcf-transform {
  transform: scale3d(1, 1, 1);
  transform-style: preserve-3d;
  transition: all 0.5s;
}
.hcf-transform:hover {
  transform: scale3d(1.02, 1.02, 1.02);
}