<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agenda</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="day-theme">
  <script src="app.js"></script>
<header>
    <a href="#"><div class="bttn"></div></a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png" alt="Logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/type">Les types d'olivier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/index">Les régions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/stade">Les stade phénologiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <a href="/formulaire" class="login">
                      <button class="login">Sign Up</button>
                    </a>
                    <a href="/formulaire2" class="login">
                      <button class="login">Log In</button>
                    </a>
                    <button class="login" onclick="toggleTheme()">Mode sombre</button>
                </ul>
            </div>
        </div>
    </nav>
</header>

<img src="image/bk.jpg" alt="Image 1" style="width: 100%; height: 500px ;border: 6px solid  rgb(138, 177, 145);">
</div>

<div class="agenda">
    <div class="para1"> 
      <h1 class="ligne">✦ Programme de fertigation de l'olivier ✦</h1>
      <p  class="p"> 
        Pour les oliviers au Maroc, un programme de fertigation commence par une analyse du sol pour déterminer les besoins en nutriments. Des fertilisants adaptés sont ensuite appliqués par irrigation goutte à goutte, avec une surveillance régulière pour ajuster selon les besoins des arbres et les conditions climatiques locales..</p></div>
     </div>
<div class="container">
    <div class="row agd_top_top">
        <h5>Programme de fertigation </h5>
    </div>
    
    <div class="row agd_top  justify-content-between">
      <div class="col-2 collr "><div class="agd_mois text-center">Janvier-Février</div> </div>
      <div class="col-2 collr "><div class="agd_mois text-center">Mars-Avril</div> </div>
      <div class="col-2 collr "><div class="agd_mois text-center">Mai-Juin</div> </div>
      <div class="col-2 collr "><div class="agd_mois text-center">Juillet-Août</div> </div>
      <div class="col-2 collr "><div class="agd_mois text-center">Septembre-Octobre</div> </div>
      <div class="col-2 collr "><div class="agd_mois text-center">Novembre- Décembre</div> </div>
          
    </div>
    <div class="row agd_middle">
      <div class="col-2 collr "><div class="agd_contenu">ajustez l'irrigation pour favoriser la croissance des racines et préparer la floraison et la fructification à venir</div></div>
      <div class="col-2 collr"><div class="agd_contenu">utilisez des fertilisants riches en potassium pour la floraison et le développement des fruits, en ajustant l'irrigation selon les besoins en eau des oliviers</div></div>
      <div class="col-2 collr"><div class="agd_contenu">utilisez des fertilisants équilibrés et ajustez l'irrigation pour soutenir la croissance des fruits des oliviers</div></div>
      <div class="col-2 collr"><div class="agd_contenu">ontinuez à fertiliser les oliviers pour assurer une bonne croissance des fruits et adaptez l'irrigation pour répondre aux besoins en eau accrue pendant les périodes chaudes.</div></div>
      <div class="col-2 collr"><div class="agd_contenu">Optimisez l'irrigation pour favoriser la croissance des racines et préparer la floraison et la fructification. Utilisez des fertilisants pour mûrir les fruits et maintenez des conditions idéales jusqu'à la récolte des olives.</div></div>
      <div class="col-2 collr"><div class="agd_contenu">ajustez l'irrigation pour favoriser la préparation hivernale des oliviers après la récolte, en minimisant les apports en nutriments pour respecter le cycle de repos des arbres.</div></div>
  
    </div>
    <div class="row agd_middle">
      <div class="col-2 collr"><div class="agd_contenu1"> 
        <p>☰ Azote (N) : Faible à modéré, environ 5-10% du total annuel.</p>
        <p>☰ Phosphore (P) : Faible, environ 2-5% du total annuel.</p>
        <p>☰ Potassium (K) : Modéré, environ 10-15% du total annuel.</p>
      </div></div>
      <div class="col-2 collr"><div class="agd_contenu1"> 
        <p>☰ Azote (N) : Modéré à élevé, environ 15-20% du total annuel.</p>
        <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
        <p>☰ Potassium (K) : Modéré à élevé, environ 15-20% du total annuel.</p>
      </div></div>
      <div class="col-2 collr"><div class="agd_contenu1">
        <p>☰ Azote (N) : Élevé, environ 20-25% du total annuel.</p>
        <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
        <p>☰ Potassium (K) : Élevé, environ 20-25% du total annuel.</p>
      </div></div>
      <div class="col-2 collr"><div class="agd_contenu1">
        <p>☰ Azote (N) :  Élevé, environ 20-25% du total annuel.</p>
        <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
        <p>☰ Potassium (K) : Élevé, environ 20-25% du total annuel.</p>
      </div></div> 
      <div class="col-2 collr"><div class="agd_contenu1"> 
        <p>☰ Azote (N) : Modéré à faible, environ 10-15% du total annuel.</p>
        <p>☰ Phosphore (P) : Modéré, environ 5-10% du total annuel.</p>
        <p>☰ Potassium (K) : Modéré à faible, environ 10-15% du total annuel.</p>
      </div></div>
      <div class="col-2 collr"><div class="agd_contenu1"> 
        <p>☰ Azote (N) : Faible, environ 5-10% du total annuel.</p>
        <p>☰ Phosphore (P) : Faible, environ 2-5% du total annuel.</p>
        <p>☰ Potassium (K) : Faible, environ 5-10% du total annuel.</p>
      </div></div>
    </div>
   </div>
 
</div>


<div class="para">
 <p>L'agenda agricole varie selon la région, le sol et le climat, influençant les saisons de travail comme le labour au printemps et la récolte à l'automne. La fertilité du sol et les méthodes agricoles sont ajustées en conséquence, adaptant les cultures et les pratiques tout au long de l'année.</p>
</div>





<footer class="footer">
    <div id="contact"><h5>contact</h5></div>
    
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="#https://www.facebook.com/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="#">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="#">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="#//www.instagram.com/">
          <ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
   
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Acceuil</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les types d'olivier</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les régions</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Agenda</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les stade phénologiques</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2024 BL Olivier ASSOCIATION | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>
</html>

