<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body class="day-theme">
  <script src="app.js"></script>
<header>
    <a href="#"><div class="bttn"></div></a>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png" alt="Logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#Accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Les types d'olivier">Les types d'olivier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Régions">Les régions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#stade">Les stade phénologiques</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <button class="login"> sign Up
                    </button>
                    <button class="login"> Log in
                    </button> 
                    <button class="login" onclick="toggleTheme()">Mode sombre</button>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="video">
    <video autoplay muted loop class="bg-video" id="bgVideo">
        <source src="image/video.mp4" type="video/mp4">
    </video>
</div>
<div id="Les types d'olivier">
</div>

<div class="para1"> 
  <h1 class="ligne">✦ LES TYPES D'OLIVRIER ✦</h1>
  <p class="p">Au Maroc, les oliviers comme l'Arbequina, la Picholine marocaine et la Dahbia sont cultivés pour leur huile d'olive, chacune adaptée aux conditions variées du pays, de la côte méditerranéenne aux montagnes de l'Atlas.</p></div>

<div class="type">
    <div class="image-row">
        <figure>
            <img src="image/a.jpg" alt="Image 1">
            <figcaption>La variété Arbequina</figcaption>
        </figure>
        <figure>
            <img src="image/b.jpg" alt="Image 2">
            <figcaption>La variété Picual</figcaption>
        </figure>
        <figure>
            <img src="image/c.jpg" alt="Image 3">
            <figcaption>La variété Kalamata</figcaption>
        </figure>
        <figure>
            <img src="image/d.jpg" alt="Image 4">
            <figcaption>La variété Picholine</figcaption>
        </figure>
        <figure>
            <img src="image/e.jpg" alt="Image 5">
            <figcaption>La variété Frantoio</figcaption>
        </figure>
    </div>
</div>
<a href="/type"> 
  <div class="d-grid gap-2 col-5 mx-auto">
    <button class="btn btn-primary bg-success" type="button" >plus de details</button>
  </div>
</a>
  <div class="para1"> 
    <h1 class="ligne">✦ STATISTIQUE DE L'OLIVIER ✦</h1> </div>
<div class="row liste py-2">
  <div class="col-6 py-2">
    <div class="liste ">
      <div class="photo">
          <img src="image/1.png" alt="Photo 1">
          <div class="Text">
              <h4> 560 000 ha dans le Maroc</h4>
          </div>
      </div>
      <div class="photo">
          <img src="image/2.png" alt="Photo 2">
          <div class="Text">
              <h4>Olivier représente 5 % du PIB agricole</h4>
          </div>
      </div>
      <div class="photo">
          <img src="image/3.png" alt="Photo 3">
          <div class="Text">
              <h4>2 500 000 tonnes/an</h4>
          </div>
      </div>
    
   </div>
  </div>
  <div class="col-6 py-2">
    <p class="listep ">"Les oliviers exceptionnels du Maroc sont célèbres mondialement et jouent un rôle essentiel dans son économie,
                   contribuant significativement à l'emploi, aux exportations et à la prospérité agricole du pays."</p>  
  </div>
</div>

<div id="regions">
<div class="para1"> 
  <h1 class="ligne">✦ LES REGIONS QUI PRODUISENT LE MAILLEUR OLIVIER ✦</h1>
  <p class="p"> L'olivier au Maroc, ancré depuis des siècles, fait l'objet d'un ambitieux plan national « Maroc Vert ». Ce programme modernise la culture traditionnelle et développe des technologies pour produire une huile d'olive de qualité, renforçant ainsi la position du pays en tant que leader mondial et explorant de nouvelles utilisations durables.</p></div>
 </div>
<div class="d-flex justify-content-center">
  <div class="col-6">
    <div id="carouselExampleDark" class="carousel carousel-dark slide ">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 3"></button>
        <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 4"></button>

      </div>
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="image/aa.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item" data-bs-interval="2000">
          <img src="image/bb.png" class="d-block w-100" alt="...">
        </div>
        <div class="carousel-item">
          <img src="image/cc.jpg" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>

 


<div id="stade" >
    <h1 class="ligne text-center">✦ LES STADES PHENOLOGIQUES ✦</h1>
    <p  class="p">Les stades phénologiques se réfèrent aux différentes phases de développement des plantes, marquant des étapes clés comme la germination, la floraison, la fructification et la dormance.</p>
   
        <img src="image/stade1.JPG" alt="img1" class="picstade">
        <img src="image/stade2.JPG" alt="img2" class="picstade">
        <img src="image/stade3.JPG" alt="img3" class="picstade">

</div>
<a href="/stade">
  <div class="d-grid gap-2 col-5 mx-auto">
    <button class="btn btn-success bg-success" type="button" >plus de details</button>
  </div>
</a>
<div class="agenda">
  <div class="para1"> 
    <h1 class="ligne">✦ Programme de fertigation de l'olivier ✦</h1>
    <p  class="p"> 
      Pour les oliviers au Maroc, un programme de fertigation commence par une analyse du sol pour déterminer les besoins en nutriments. Des fertilisants adaptés sont ensuite appliqués par irrigation goutte à goutte, avec une surveillance régulière pour ajuster selon les besoins des arbres et les conditions climatiques locales..</p></div>
   </div>
 
 <div class="container">
  <div class="row agd_top_top">
      <h5>Programme de fertigation </h5>
  </div>
  <!-- <div class="row agd_top">
    <div class="col-2 agd_mois">Janvier-Février</div>
    <div class="col-2 "><div class="agd_mois">Mars-Avril</div> </div>
    <div class="col-2 agd_mois">Mai-Juin</div>
    <div class="col-2 agd_mois">Juillet-Août</div>
    <div class="col-2 agd_mois">Septembre-Octobre</div>
    <div class="col-2 agd_mois"> Novembre- Décembre</div>
  </div> -->
  <div class="row agd_top  justify-content-between">
    <div class="col-2 collr "><div class="agd_mois text-center">Janvier-Février</div> </div>
    <div class="col-2 collr "><div class="agd_mois text-center">Mars-Avril</div> </div>
    <div class="col-2 collr "><div class="agd_mois text-center">Mai-Juin</div> </div>
    <div class="col-2 collr "><div class="agd_mois text-center">Juillet-Août</div> </div>
    <div class="col-2 collr "><div class="agd_mois text-center">Septembre-Octobre</div> </div>
    <div class="col-2 collr "><div class="agd_mois text-center">Novembre- Décembre</div> </div>
        
  </div>
  <div class="row agd_middle">
    <div class="col-2 collr "><div class="agd_contenu">ajustez l'irrigation pour favoriser la croissance des racines et préparer la floraison et la fructification à venir</div></div>
    <div class="col-2 collr"><div class="agd_contenu">utilisez des fertilisants riches en potassium pour la floraison et le développement des fruits, en ajustant l'irrigation selon les besoins en eau des oliviers</div></div>
    <div class="col-2 collr"><div class="agd_contenu">utilisez des fertilisants équilibrés et ajustez l'irrigation pour soutenir la croissance des fruits des oliviers</div></div>
    <div class="col-2 collr"><div class="agd_contenu">ontinuez à fertiliser les oliviers pour assurer une bonne croissance des fruits et adaptez l'irrigation pour répondre aux besoins en eau accrue pendant les périodes chaudes.</div></div>
    <div class="col-2 collr"><div class="agd_contenu">Optimisez l'irrigation pour favoriser la croissance des racines et préparer la floraison et la fructification. Utilisez des fertilisants pour mûrir les fruits et maintenez des conditions idéales jusqu'à la récolte des olives.</div></div>
    <div class="col-2 collr"><div class="agd_contenu">ajustez l'irrigation pour favoriser la préparation hivernale des oliviers après la récolte, en minimisant les apports en nutriments pour respecter le cycle de repos des arbres.</div></div>

  </div>
  <div class="row agd_middle">
    <div class="col-2 collr"><div class="agd_contenu1"> 
      <p>☰ Azote (N) : Faible à modéré, environ 5-10% du total annuel.</p>
      <p>☰ Phosphore (P) : Faible, environ 2-5% du total annuel.</p>
      <p>☰ Potassium (K) : Modéré, environ 10-15% du total annuel.</p>
    </div></div>
    <div class="col-2 collr"><div class="agd_contenu1"> 
      <p>☰ Azote (N) : Modéré à élevé, environ 15-20% du total annuel.</p>
      <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
      <p>☰ Potassium (K) : Modéré à élevé, environ 15-20% du total annuel.</p>
    </div></div>
    <div class="col-2 collr"><div class="agd_contenu1">
      <p>☰ Azote (N) : Élevé, environ 20-25% du total annuel.</p>
      <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
      <p>☰ Potassium (K) : Élevé, environ 20-25% du total annuel.</p>
    </div></div>
    <div class="col-2 collr"><div class="agd_contenu1">
      <p>☰ Azote (N) :  Élevé, environ 20-25% du total annuel.</p>
      <p>☰ Phosphore (P) : Modéré, environ 10-15% du total annuel.</p>
      <p>☰ Potassium (K) : Élevé, environ 20-25% du total annuel.</p>
    </div></div> 
    <div class="col-2 collr"><div class="agd_contenu1"> 
      <p>☰ Azote (N) : Modéré à faible, environ 10-15% du total annuel.</p>
      <p>☰ Phosphore (P) : Modéré, environ 5-10% du total annuel.</p>
      <p>☰ Potassium (K) : Modéré à faible, environ 10-15% du total annuel.</p>
    </div></div>
    <div class="col-2 collr"><div class="agd_contenu1"> 
      <p>☰ Azote (N) : Faible, environ 5-10% du total annuel.</p>
      <p>☰ Phosphore (P) : Faible, environ 2-5% du total annuel.</p>
      <p>☰ Potassium (K) : Faible, environ 5-10% du total annuel.</p>
    </div></div>
  </div>

 </div>








</div>

 <footer class="footer">
    <div id="contact"><h5>contact</h5></div>
    
    <ul class="social-icon">
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.facebook.com/">
          <ion-icon name="logo-facebook"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.twitter.com/">
          <ion-icon name="logo-twitter"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="hhtps://www.likedin.ma">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a></li>
      <li class="social-icon__item">
        <a class="social-icon__link" href="https://www.instagram.com/">
          <ion-icon name="logo-instagram"></ion-icon></a></li>
    </ul>
   
    <ul class="menu">
      <li class="menu__item"><a class="menu__link" href="#">Acceuil</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les types d'olivier</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les régions</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Agenda</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Les stade phénologiques</a></li>
      <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>

    </ul>
    <p>&copy;2024 BL Olivier ASSOCIATION | All Rights Reserved</p>
  </footer>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
 


 
</body>
</html>
 