<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Site</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet" href="/style.css">
</head>
<body>

<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="image/logo.png" alt="Logo" >
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#Accueil">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Les types d'olivier">Les types d'olivier</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Les régions">Les régions</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Agenda</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#Contact">Contact</a>
                    </li>
                    <button class="login"> sign Up
                    </button>
                    <button class="login"> Log in
                    </button> 
                </ul>
            </div>
        </div>
    </nav>
</header>

<div class="video">
    <video autoplay muted loop class="bg-video" id="bgVideo">
        <source src="image/video.mp4" type="video/mp4">
    </video>
</div>
<div id="Les types d'olivier"><h1>Les types d'olivier</h1>
</div>

<div class="para1"> <p>Au Maroc, les oliviers comme l'Arbequina, la Picholine marocaine et la Dahbia sont cultivés pour leur huile d'olive, chacune adaptée aux conditions variées du pays, de la côte méditerranéenne aux montagnes de l'Atlas.</p></div>

<div class="type">
    <div class="image-row">
        <figure>
            <img src="image/a.jpg" alt="Image 1">
            <figcaption>La variété Arbequina</figcaption>
        </figure>
        <figure>
            <img src="image/b.jpg" alt="Image 2">
            <figcaption>La variété Picual</figcaption>
        </figure>
        <figure>
            <img src="image/c.jpg" alt="Image 3">
            <figcaption>La variété Kalamata</figcaption>
        </figure>
        <figure>
            <img src="image/d.jpg" alt="Image 4">
            <figcaption>La variété Picholine</figcaption>
        </figure>
        <figure>
            <img src="image/e.jpg" alt="Image 5">
            <figcaption>La variété Frantoio</figcaption>
        </figure>
    </div>
</div>
<div class="d-grid gap-2 col-6 mx-auto">
    <button class="btn btn-primary" type="button" >plus de detais</button>
</div>

<div class="liste">
        <div class="photo">
            <img src="image/1.png" alt="Photo 1">
            <div class="Text">
                <h4> 560 000 ha dans le Maroc</h4>
            </div>
        </div>
        <div class="photo">
            <img src="image/2.png" alt="Photo 2">
            <div class="Text">
                <h4>Olivier représente 5 % du PIB agricole</h4>
            </div>
        </div>
        <div class="photo">
            <img src="image/3.png" alt="Photo 3">
            <div class="Text">
                <h4>2 500 000 tonnes/an</h4>
            </div>
        </div>
</div>

 <div id="Les régions">
<h1>Les régions qui produisent le meilleur olivier</h1>
<div class="para1"> <p> L'olivier au Maroc, ancré depuis des siècles, fait l'objet d'un ambitieux plan national « Maroc Vert ». Ce programme modernise la culture traditionnelle et développe des technologies pour produire une huile d'olive de qualité, renforçant ainsi la position du pays en tant que leader mondial et explorant de nouvelles utilisations durables.</p></div>

 </div>



</body>
</html>
 