<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Les types d'olivier</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">

</head>

<body class="day-theme">
  <script src="app.js"></script>
    <header>
        <a href="#"><div class="bttn"></div></a>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="image/logo.png" alt="Logo">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/type">Les types d'olivier</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/index">Les régions</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/agenda">Agenda</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/stade">Les stade phénologiques</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#Contact">Contact</a>
                        </li>
                        <a href="/formulaire" class="login">
                          <button class="login">Sign Up</button>
                        </a>
                        <a href="/formulaire2" class="login">
                          <button class="login">Log In</button>
                        </a>
                        <button class="login" onclick="toggleTheme()">Mode sombre</button> 
                    </ul>
                </div>
            </div>
        </nav>
    </header>
   
     
    <img src="image/pp.png" alt="Image 1" style="width: 100%; height: 600px  ;">

<section class="bg-light py-5 py-xl-6">
  <div class="container overflow-hidden">
    <div class="row gy-5">
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative hcf-transform">
                <img class="img-fluid rounded w-100 hcf-of-cover hcf-op-center hcf-ih-250 hcf-ih-md-400" loading="lazy" src="image/t3.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2>La variété Arbequina</h2>
              <p class="mb-4">Originaire de Catalogne, Espagne, l'Arbequina est connue pour ses petites olives
                à haute teneur en huile et son goût fruité avec des nuances d'amande. Adaptable
                aux climats frais et chauds, elle est cultivée mondialement. Idéale pour la culture en pot,
                elle est prisée des jardiniers urbains.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative hcf-transform">
                <img class="img-fluid rounded w-100 hcf-of-cover hcf-op-center hcf-ih-250 hcf-ih-md-400" loading="lazy" src="image/t4.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2>La variété Picual</h2>
              <p class="mb-4">Provenant d'Andalousie, Espagne, la Picual produit des olives de taille moyenne à grande,
                offrant une huile au goût robuste et équilibré, avec des saveurs d'herbes
                et de tomate. Très répandue globalement, cette variété est essentielle dans la
                cuisine méditerranéenne.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative hcf-transform">
                <img class="img-fluid rounded w-100 hcf-of-cover hcf-op-center hcf-ih-250 hcf-ih-md-400" loading="lazy" src="image/t9.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2>La variété Kalamata</h2>
              <p class="mb-4">Connue pour ses grandes olives pourpres, la Kalamata est cultivée en Grèce. Ces olives sont charnues et
                savoureuses, principalement utilisées dans les salades grecques et pour produire une huile fruitée aux
                arômes complexes.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center flex-row-reverse gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative hcf-transform">
                <img class="img-fluid rounded w-100 hcf-of-cover hcf-op-center hcf-ih-250 hcf-ih-md-400" loading="lazy" src="image/t7.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2>La variété Picholine</h2>
              <p class="mb-4">Originaire du sud de la France, la Picholine se distingue par ses olives vertes allongées et sa
                résistance aux maladies. Utilisée pour les cocktails d'olives et l'huile d'olive au goût frais et épicé,
                elle est adaptable à divers climats.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div class="row align-items-center gy-3 gy-md-0 gx-xl-5">
          <div class="col-xs-12 col-md-6">
            <div class="img-wrapper position-relative hcf-transform">
                <img class="img-fluid rounded w-100 hcf-of-cover hcf-op-center hcf-ih-250 hcf-ih-md-400" loading="lazy" src="image/t8.jpg" alt="">
            </div>
          </div>
          <div class="col-xs-12 col-md-6">
            <div>
              <h2>La variété Frantoio</h2>
              <p class="mb-4">La Frantoio vient d'Italie, particulièrement de Toscane. Elle produit des olives de taille moyenne à
                petite, offrant une huile d'olive extra vierge de qualité exceptionnelle avec des arômes d'herbes,
                d'artichaut et d'amande. Idéale pour la cuisine et la dégustation directe.</p>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
<!-- *************************** -->
    <footer class="footer">
        <div id="contact"><h5>contact</h5></div>
        <ul class="social-icon">
          <li class="social-icon__item">
            <a class="social-icon__link" href="#https://www.facebook.com/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a></li>
          <li class="social-icon__item">
            <a class="social-icon__link" href="#">
              <ion-icon name="logo-twitter"></ion-icon>
            </a></li>
          <li class="social-icon__item">
            <a class="social-icon__link" href="#">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a></li>
          <li class="social-icon__item">
            <a class="social-icon__link" href="#//www.instagram.com/">
              <ion-icon name="logo-instagram"></ion-icon></a></li>
        </ul>
       
        <ul class="menu">
          <li class="menu__item"><a class="menu__link" href="#">Acceuil</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Les types d'olivier</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Les régions</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Agenda</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Les stade phénologiques</a></li>
          <li class="menu__item"><a class="menu__link" href="#">Contact</a></li>
    
        </ul>
        <p>&copy;2024 BL Olivier ASSOCIATION | All Rights Reserved</p>
      </footer>
      <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
</body>

</html> 